.start {
background-repeat: no-repeat;
width: 1600px;
height: 808px;
flex-shrink: 0;

    text-align: right;
    padding:  216px 225px 0px 800px;
    background-image: url('../source/new-year-new-me-main/images/banner/banner3.png');
}

.content{
    margin: ;
    max-width: 525px;}

.hdn {
   
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    
   
}

.fst-p {
   
    color: #FFF;
    
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    
    /* 162.5% */

}

.btn-prm {
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;

font-family: Work Sans;
font-size: 20px;
font-style: normal;

}

/*main started*/

.scs-prm{display: flex;

max-width: 1140px;
max-height: 808px;
margin: 0 auto;
}
.fst-hdn{padding: 230px 128px 24px 134px ;}
.fst-hdn{color: var(--Dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;}

    .fstp{
        color: var(--Dark-02, #444343);
        font-family: Work Sans;
        font-size: 16px;

    }
    .ftsul{
        color: var(--Dark-02, #444343);
        font-family: Work Sans;
        font-size: 16px;

    }

    /*new section*/

    .scs-scnd{
        display: flex;
        
        margin: 0 230px;
    }
    .lgp{
        margin-left: 40px;
        }

    .lgh{
        color:  #151414;

font-family: Work Sans;
font-size: 30px;
    }